In [9]:


from __future__ import division, print_function, unicode_literals
import pandas as pd
import numpy as np
cl=pd.read_csv('ASD_3.csv')
pd.DataFrame.count(cl)

Timestamp                           97
Name                                97
Age                                 97
Gender                              97
Ethnicity                           97
Country                             97
A1                                  97
A2                                  97
A3                                  97
A4                                  97
A5                                  96
A6                                  97
A7                                  97
A8                                  97
A9                                  97
A10                                 97
Jaundice                            97
PDIS                                97
BISE                                97
Anyone in the family has Autism?    97
Res                                 97
cluster                             97
dtype: int64

In [10]:

cl=cl.replace(to_replace="?", value=np.nan)
cl=cl.dropna()
pd.DataFrame.count(cl)

Timestamp                           96
Name                                96
Age                                 96
Gender                              96
Ethnicity                           96
Country                             96
A1                                  96
A2                                  96
A3                                  96
A4                                  96
A5                                  96
A6                                  96
A7                                  96
A8                                  96
A9                                  96
A10                                 96
Jaundice                            96
PDIS                                96
BISE                                96
Anyone in the family has Autism?    96
Res                                 96
cluster                             96
dtype: int64

In [11]:
cl.head()

,Timestamp,Name,Age,Gender,Ethnicity,Country,A1,A2,A3,A4,...,A7,A8,A9,A10,Jaundice,PDIS,BISE,Anyone in the family has Autism?,Res,cluster
0,2/25/2019 16:51:28,ANI,22,1,INDIAN,INDIA,1,0,0,1,...,1,0,1,0,0,0,1,0,5,0
1,2/25/2019 16:54:51,ANI,22,1,INDIAN,INDIA,1,0,0,1,...,1,0,1,0,0,0,2,0,5,0
2,2/25/2019 16:55:40,ANI,22,1,INDIAN,INDIA,1,0,0,1,...,1,0,1,0,0,0,2,0,5,0
3,2/25/2019 18:34:44,anirudh,24,1,INDIAN,India,1,1,0,0,...,1,0,1,1,0,0,1,0,7,1
4,2/25/2019 18:36:02,arya,27,1,INDIAN,India,0,0,0,1,...,1,0,1,1,0,0,0,0,5,0

In [12]:
cl.describe()

,Age,Gender,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Jaundice,PDIS,BISE,Anyone in the family has Autism?,Res,cluster
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,30.781250,0.697917,0.750000,0.572917,0.343750,0.500000,0.781250,0.520833,0.666667,0.552083,0.697917,0.583333,0.229167,0.104167,0.833333,0.302083,5.958333,0.666667
std,11.087407,0.461571,0.435286,0.497251,0.477452,0.502625,0.415569,0.502188,0.473879,0.499890,0.461571,0.495595,0.422503,0.307080,0.854298,0.461571,1.541815,0.473879
min,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,0.000000,0.750000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000
50%,29.500000,1.000000,1.000000,1.000000,0.000000,0.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,6.000000,1.000000
75%,37.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,7.000000,1.000000
max,69.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,10.000000,1.000000

In [11]:

from sklearn.neighbors import KNeighborsClassifier 
from sklearn.preprocessing import StandardScaler
import numpy as np


sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

from sklearn import neighbors, datasets

knn = neighbors.KNeighborsClassifier(n_neighbors=7, 
                           p=2, 
                           metric='minkowski') 
knn = knn.fit(X_train_std, y_train)            

from sklearn.metrics import accuracy_score, f1_score, cohen_kappa_score, classification_report

# Estimate the predicted values by applying the kNN algorithm
y_pred_knn = knn.predict(X_test_std)
y_pred_insample = knn.predict(X_train_std)


print('Accuracy (out-of-sample): %.2f' % accuracy_score(y_test, y_pred_knn))
print('Accuracy (in-sample): %.2f' % accuracy_score(y_train, y_pred_insample))


print('F1 score (out-of-sample): ', f1_score(y_test, y_pred_knn, average='macro'))
print('F1 score (in-sample)    : ', f1_score(y_train, y_pred_insample, average='macro'))


print('Kappa score (out-of-sample): ', cohen_kappa_score(y_test, y_pred_knn))
print('Kappa score (in-sample)    : ', cohen_kappa_score(y_train, y_pred_insample))

)
print(classification_report(y_test, y_pred, target_names=["benign", "malignant"]))
knn_matrix = confusion_matrix(y_test, y_pred_knn)
print (knn_matrix)

C:\Users\Kashyap\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Kashyap\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  if __name__ == '__main__':
C:\Users\Kashyap\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  # Remove the CWD from sys.path while we load stuff.

Accuracy (out-of-sample): 0.97
Accuracy (in-sample): 0.98
F1 score (out-of-sample):  0.9680820082707206
F1 score (in-sample)    :  0.9811526941180343
Kappa score (out-of-sample):  0.9361677344205008
Kappa score (in-sample)    :  0.9623056363803931
              precision    recall  f1-score   support

      benign       0.96      0.97      0.96       178
   malignant       0.95      0.92      0.93        96

   micro avg       0.95      0.95      0.95       274
   macro avg       0.95      0.94      0.95       274
weighted avg       0.95      0.95      0.95       274

[[173   5]
 [  3  93]]

C:\Users\Kashyap\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [18]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
import graphviz 


# Information gain
clf_infoG = tree.DecisionTreeClassifier(criterion="entropy", max_depth=6)
clf_infoG = clf_infoG.fit(X_train, y_train)
feature_names = list(X.columns)
infoG_tree = tree.export_graphviz(clf_infoG, out_file= None, 
                                feature_names=feature_names,
                                class_names='24',
                                filled=True, rounded=True,  
                                special_characters=True)

infoG_graph = graphviz.Source(infoG_tree)
infoG_graph

ModuleNotFoundError: No module named 'graphviz'

In [17]:
#model evaluation
y_pred_infoG = clf_infoG.predict(X_test)               
infoG_matrix = confusion_matrix(y_test, y_pred_infoG)
print (infoG_matrix) 

print(classification_report(y_test, y_pred_infoG, target_names=["Autistic", "Non-Autistic"]))

NameError: name 'clf_infoG' is not defined